USE [LibraryDB]
GO
/****** Object:  Table [dbo].[users]    Script Date: 22/12/2025 6:56:29 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](100) NOT NULL,
	[email] [nvarchar](150) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[role] [nvarchar](20) NOT NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([user_id], [username], [email], [password], [role], [created_at]) VALUES (1, N'AdminUser', N'admin@gmail.com', N'Admin1234', N'Admin', CAST(N'2025-12-22T01:15:50.163' AS DateTime))
INSERT [dbo].[users] ([user_id], [username], [email], [password], [role], [created_at]) VALUES (2, N'StudentUser', N'student@gmail.com', N'Student123', N'Student', CAST(N'2025-12-22T01:15:50.163' AS DateTime))
INSERT [dbo].[users] ([user_id], [username], [email], [password], [role], [created_at]) VALUES (3, N'StaffUser', N'staff@gmail.com', N'Staff1234', N'Staff', CAST(N'2025-12-22T01:15:50.163' AS DateTime))
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__AB6E616461D33D87]    Script Date: 22/12/2025 6:56:30 pm ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD CHECK  (([role]='Guest' OR [role]='Staff' OR [role]='Admin' OR [role]='Student'))
GO
